.addAnalysisCard {
  width: 55.5vw;
  height: 23.75vw;

  background: #ffffff;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5vw;
}

.addPatientCard {
  /* width: 55.5vw;
  height: 38vw; */

  background: #ffffff;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5vw;
}

.addAnalysisCard h4 {
  margin-bottom: 10px;
}

.input {
  width: 669px;
  height: 48px;

  background: #ffffff;
  border: 1px solid #c2c2c2;
  border-radius: 10px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding-left: 20px;

  color: #000000;
}

.button {
  width: 8vw;
  height: 37px;

  background: #e54e4e;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15), 4px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  border: 0;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin-top: 5px;

  color: #ffffff;
}
