.background {
  width: 97vw;
  /* background: #f2f9fc; */
  /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15), 4px 0px 25px rgba(0, 0, 0, 0.15); */
  border-radius: 10px;
  padding-bottom: 50px;
}
.backWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.AllotShoeCard {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 90px;
  row-gap: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.head {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 23px;
  font-family: "Inter";
  font-style: normal;
  color: #e54e4e;
  font-weight: 700;
  margin-top: 30px;
}
